
<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button href="/about" router-direction="forward">
        <ion-icon class="fa fa-info-circle fa-2x"></ion-icon>
      </ion-tab-button>
      <ion-tab-button href="/leitner" router-direction="forward">
        <ion-icon class="fa fa-blackboard fa-2x"></ion-icon>
      </ion-tab-button>
      <ion-tab-button href="/app" router-direction="forward">
        <ion-icon class="fa fa-list-check fa-2x"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
