<ion-header>
  <ion-toolbar>
    <ion-title>تنظیمات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-select (ionChange)="onSubmit()" formControlName="fontSize" label="اندازه فونت" label-placement="fixed"
        placeholder="اندازه فونت">
        <ion-select-option value="14px">14px</ion-select-option>
        <ion-select-option value="16px">16px</ion-select-option>
        <ion-select-option value="18px">18px</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select (ionChange)="onSubmit()" formControlName="theme" label="رنگ پوسته" label-placement="fixed"
        placeholder="رنگ پوسته">
        <ion-select-option value="light">روشن</ion-select-option>
        <ion-select-option value="dark">تاریک</ion-select-option>
        <ion-select-option value="auto">پیش‌فرض</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select (ionChange)="onSubmit()" formControlName="cefr" label="سطح زبان‌آموز" label-placement="fixed"
        placeholder="سطح زبان‌آموز">
        <ion-select-option value="1">خیلی ضعیف</ion-select-option>
        <ion-select-option value="2">ضعیف</ion-select-option>
        <ion-select-option value="3">نسبتاً ضعیف</ion-select-option>
        <ion-select-option value="4">متوسط</ion-select-option>
        <ion-select-option value="5">نسبتاً قوی</ion-select-option>
        <ion-select-option value="6">قوی</ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <ion-list>
    <ion-item [routerLink]="['/app/about']">
      <ion-label>درباره</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/app/contact']">
      <ion-label>ارتباط با ما</ion-label>
    </ion-item>
  </ion-list>
</ion-content>