<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="app/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>ارتباط با ما</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>
    اگر سوال یا پیشنهادی دارید، می‌توانید با ما در ارتباط باشید. از اینکه نظرات خود را با ما به اشتراک می‌گذارید،
    سپاسگزاریم.
  </p>
  <ion-button size="small" color="light" expand="full" (click)="sendEmail()">ارسال ایمیل به نویسنده</ion-button>
</ion-content>